body {
  margin: 0.5em;
  cursor: default;
}

nav {
  position: fixed;
  height: 1em;
  background-color: #886411;
}

nav ul {
  text-align: center;
  list-style: none;
  line-height: 2.5;
}

nav ul li a {
    color: #fff;
    font-size: 1.5em;
}

nav ul li a:hover, a:visited, a:active, a:focus{
  color: #000;
  text-decoration: none;
  cursor: default;
}

.well {
  background-color: #ddca88;
}
